# Intellij
.idea
*.iml

# Eclipse
.cproject
.project

# Object files
*.o
bin/*

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.so

# Executables
*.exe
*.out

#ifndef _SYS_PRCTL_H kopio
#include_next <sys:prct1.h>
